@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
  font-family: 'Noto Sans', sans-serif;
   font-weight: normal;
   letter-spacing: -0.01em;
   font-size : 15px;
 }
 #colorGoogle{
  font-size: 30px;
  font-weight: bold;
}
  div #colorGoogle :nth-child(1){
    color : #4285F4;
  }
  div #colorGoogle :nth-child(2){
    color : #EA4335;
  }
  div #colorGoogle :nth-child(3){
    color : #FBBC05;
  }
  div #colorGoogle :nth-child(4){
    color : #4285F4;
  }
  div #colorGoogle :nth-child(5){
    color : #5BB974;
  }
  div #colorGoogle :nth-child(6){
    color : #EA4335;
  }

  #makeAccount{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .helpArticle{
    font-size :13px;
    color: #5f6368;
    padding-bottom: 50px;
  }
