.lay_out{
  /** 모서리 둥글게 */
  border-radius: 9px;
  /** 윤곽선 */
  border: 1px solid #E0E0E0;
  /** 크기 지정*/
  width: 747px;
  height: 592px;
  /** 창 크기에 따라 변화*/
  position: relative;
  /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 170px로 지정 */
  margin: 170px auto;
 /** 박스 나누기 FLEX 지정*/
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;

}
